body {
  margin: 10px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  position: relative; /* Ensures absolute elements position relative to body */
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 20px;
  position: absolute;
  top: 10px; /* Adjusted for better visibility */
  right: 10px;
}

.shop {
  position: absolute;
  right: 71px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 25px;
}
